body {
  background-color: #121212;
  font-family: 'VT323', monospace;
}

button {
  font-size: 20px;
  font-family: 'VT323', monospace;
}

img {
  image-rendering: pixelated;
}

.game-timer-ui {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #121212;
  color: #fbfbfb;
  width: fit-content;
  font-size: 25px;
  padding: 10px;
  font-family: 'VT323', monospace;
}

.game-debugger {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-family: 'VT323', monospace;
  background-color: #ccc;
  width: fit-content;
}

.player-stats {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #555;
  color: #fbfbfb;
  width: 8%;
  font-size: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.stats-text {
  margin-left: 5px;
}