*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: hidden;
}

.donothighlight {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  background-color: #121212;
  font-family: 'VT323', monospace;
}

a {
  -webkit-user-drag: none;
}

button {
  font-size: 20px;
  font-family: 'VT323', monospace;
}

img {
  image-rendering: pixelated;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.game-timer-ui {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #121212;
  color: #fbfbfb;
  width: fit-content;
  font-size: 25px;
  padding: 10px;
}

.game-debugger {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #ccc;
  width: fit-content;
}

.player-stats {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #555;
  color: #fbfbfb;
  width: 8%;
  font-size: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.stats-text {
  margin-left: 5px;
}

.game-resources {
  position: absolute;
  top: 2;
  left: 50%;
  transform: translate(-50%);
  font-size: 20px;
  background-color: #222;
  color: #fbfbfb;
}